</div>
<footer class="footer mt-auto border-top bg-body-secondary text-lg-start">
<div class="p-3 container-fluid  text-center">
<h3>Site info</h3>
<p>Version: <span class="font-monospace">1.0.0 / 2024-07-00</span></p>
<p>Website is created by <a class="text-decoration-none" href="https://shaunhoffer.cc">SSP6904</a></p>
</div>
</footer>
<script src="https://files.shaunhoffer.cc/styles/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>