<%- include('partials/head'); %>
<h1>Status</h1>
<p>Check for videos that are in production or is in progress.</p>
<br>
<h2>Currently</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
<div class="col">
<div class="card">
<img src="/Imagenotfound.png" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">The Last Tornado</h5>
<p class="card-text">An EAS Scenario video based on weather. See link below for details on progress.</p>
<a href="/status/thelasttornado" class="btn btn-primary">More details</a>
</div>
</div>
</div>
</div>
<br>
<h2>Want to suggest a video?</h2>
<p>Click the form link on the navigation bar to do so! &#x1F609;</p>
<%- include('partials/footer'); %>