<%- include('../partials/head'); %>
<h1>The Last Tornado</h1>
<p>
Type of video: EAS related
<br>
Setting: United States
<br>
Collaboration: No
<br>
Is released: No
</p>
<h2>Summary report</h2>
<p><i>More details coming soon!</i></p>

<%- include('../partials/footer'); %>